@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

/* @keyframes showImage {
    25% {
        border-radius: 20px;
        width: 50%;
        height: 50%;
    }
    50% {
        width: 30%;
        height: 30%;
        
    }
    75% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
        left: 0;
        border-radius: 0;
        bottom: 0;
    }
} */

@keyframes showImage {
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
    }
}

@keyframes showThumbnail {
    to {
        width: 150px;
    }
}

@keyframes moveThumbnail {
    to {
        transform: translateX(0);
    }
}

@keyframes shrinkImage {
    to {
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@keyframes timeRunning {
    to {
        width: 0;
    }
}